<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free website for you">
  <link rel="icon" href="./header.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

 
  <title>Kesenian Indonesia</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton" tabindex="0">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1 tabindex="0">Artistik Indonesia</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="." tabindex="0">Beranda</a></li>
          <li><a href="#/kesenian" tabindex="0">Kesenian</a></li>
          <li><a href="#/order" tabindex="0">Pesanan</a></li>
        </ul>
      </nav>
    </div>
    </header>
    <main id="mainContent">
    </main>
    <footer>
      <div class="container">
          <div class="footer-content">
              <div class="logo" tabindex="0">
                  <img src="./logooo.png" alt="Logo Perusahaan">
              </div>
              <div class="contact-info">
                  <p tabindex="0"><i class='bx bxs-map'></i> 222 Anywhere St., Any City, ST 12345</p>
                  <p tabindex="0"><i class='bx bxs-phone'></i> +123-456-7890</p>
                  <p tabindex="0"><i class='bx bxs-envelope'></i> hello@ArtistikIndonesia.com</p>
              </div>
              <div class="copyright" tabindex="0">
                  &copy; 2023 Artistik Indonesia. All Rights Reserved.
              </div>
          </div>
      </div>
  </footer>

  </body>
</html>
