* {
    padding: 0;
    margin: 0;
  }
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
   
   
  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    background-color: #b22222;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    color: white;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand h1 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    user-select: none;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -190px;
    width: 100%;
    text-align: center;
    transition: all 0.3s;
    padding: 8px;
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;

  }

  .app-bar .app-bar__navigation ul li a:hover{
    color: #333;
  }

/*
Hero
*/
 /* Add a new CSS class for the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  text-align: center;
  padding: 15px;
  animation: fadeIn 1s ease-out; 
}

.hero-content {
  display: flex;
  align-items: center;
  text-align: left;
}

.hero img {
  max-width: 100%;
  max-height: 475px;
  margin-left: 50px;
  margin-right: 100px;
  padding: 15px;
}

.hero p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.explore-button a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.explore-button:hover {
  background-color: #c63d2f;
}

/*
  Home
*/
.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-header {
    text-align: center;
    margin-top: 30px;
}
.article-header h1{
    color: #b22222;
    font-size: 15px;
}
.article-header p {
    max-width: 400px;
    overflow: hidden;
    color: #333;
    font-size: 15px;
    
}
.article-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.article-card img {
    max-width: 100%;
    height: auto;
}

.article-card .card-item {
    position: relative;
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
}

.card-item:hover {
    transform: scale(1.05); 
}

.card-item h1 {
    text-decoration: none;
    color: #b22222;
    font-size: 20px;
    font-weight: bolder;
}
  /*
 Kesenian
*/
.kesenian-header {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kesenian-header h1 {
    color: #b22222;
    font-size: 15px;
}

.kesenian-header p {
    max-width: 600px;
    overflow: hidden;
    color: #333;
    font-size: 15px;
    text-align: center; 
}
/*
  search
*/

.search-bar{
  margin-top: 10px;
  text-align: center;
}
#search-input {
  padding: 5px;
  border: 1px solid #b22222;
  border-radius: 10px;
  margin-right: 5px; 
  width: 400px; 
  min-height: 44px;
  min-width: 44px;
}

#search-button {
  background-color: #b22222;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 100px; 
  min-height: 45px;
  min-width: 44px;
}

#search-button i {
  font-size: 18px; 
  margin-right: 5px; 
}

#search-button:hover {
  background-color: #bd1c1c;
}

/*
  kesenian card
*/

.kesenian-list {
  display: grid;
  gap: 5px;
  padding: 5px;

}

.kesenian-card {
  position: relative;
  max-width: 300px;
  margin: 10px auto;
  border: 1px solid #b22222;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.kesenian-card:hover {
  transform: scale(1.05);
}

.kesenian-card h2 {
  font-size: 20px;
  text-align: center;
  color: #b22222;
  cursor: pointer;
}

.kesenian-card h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #b22222;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.kesenian-card img {
  max-width: 100%;
  height: 250px;
  margin-bottom: 3px;
}

.kesenian-card h4 {
  font-size: 17px;
  min-width: 44px;
  min-height: 44px;
}

.kesenian-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  text-align: justify;
}

.kesenian-card h5 {
  font-size: 15px;
  margin-top: 15px;
}

.button-kesenian {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.button-kesenian a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.button-kesenian:hover {
  background-color: #bd1c1c;
}


/* Collaborators Section Styles */
.collaborators {
  margin-top: 50px;
  margin-bottom: 20px;
}

.collaborators h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.collaborators ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.collaborators li {
  text-align: center;
  margin: 10px;
}

.collaborators img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.collaborators p {
  margin: 8px 0;
  font-size: 14px;
  color: #666;
}

/*
  form
*/
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #b22222;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #b22222;
}

label {
  display: block;
  margin-top: 10px;
  color: #b22222;

}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 12px;
  box-sizing: border-box;

}

button {
  background-color: #b22222;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #bd1c1c;
}

/*
  Popup
*/

body.popup-visible {
  overflow: hidden;
}

.popup-visible .kesenian-list {
  display: none;
}

.popup-visible #popup {
  display: block;
}

.popup {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 60%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  max-height: 60vh; 
  overflow-y: auto;
  display: none;
  margin-bottom: 30px;
}

.popup-visible .popup {
  display: block;
}

.popup .close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1002; 
}

.popup .close:hover {
  color: #ff0000;
}

.popup img {
  display: block;
  margin: 0 auto; 
  max-width: calc(100% - 20px);
  height: auto;
  margin-bottom: 15px;
  z-index: 1001;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #b22222;
}

.popup h3, .popup h4, .popup p, .popup h5 {
  margin-bottom: 10px;
  text-align: justify;

}

.popup button {
  background-color: #b22222;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.popup button:hover {
  background-color: #bd1c1c;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; 
  z-index: 999;
}


.popup-visible body {
  overflow: hidden;
}

.popup-visible .popup-overlay,
.popup-visible .popup {
  display: block;
}


  /*
  Footer
*/

  footer {
    background-color: #b22222;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px; 
}

.contact-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 5px;
}

.copyright {
  margin-top: 10px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}
  @media only screen and (max-width: 320px) {
    .app-bar .app-bar__navigation{
        top: 80px;
        width: 100%;
        text-align: center;
        background-color: #b22222;

    }
  }

  @media only screen and (max-width: 600px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero img {
        margin: 0; 
    }

    .explore-button {
        margin-left: 0; 
    }
    .app-bar .app-bar__navigation {
      position: absolute;
      top: 50px;
      left: -425px;
      width: 100%;
      background-color: #b22222;
    }
}

  @media screen and (min-width: 650px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
      display: none;
    }
   
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
    .kesenian-list{
      grid-template-columns: 1fr 1fr;
      justify-content: center;
    }
   
  }

  @media only screen and (max-width: 768px) {
    .popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; 
      max-height: 70vh; 
      overflow-y: auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 1000;
      margin: 0;
    }
    .popup h2 {
      font-size: 20px;
    }
  
    .popup img {
      max-width: 100%;
    }
  
    .popup .close {
      top: 5px;
      right: 5px;
    }
    
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1{
        font-size: 23px;
    }
    .hero-text p{
        font-size: 15px;
    }
    .hero img {
        margin: 0;
        max-width: 280px;
    }

    .explore-button {
        margin-left: 0; 
    }
    .article-container{
        padding: 10px;
    }
    .article-header h1 {
        font-size: 15px; 
    }

    .article-header p {
        font-size: 14px; 
    }

    .article-card {
        flex-direction: column; 
        align-items: center; 
    }

    .article-card .card-item {
        width: 100%; 
        max-width: 400px;
    }

    .card-item a {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .card-item p {
        text-align: center;
    }
    .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .logo,
  .contact-info {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      display: none; 
  }

  .copyright {
      width: 100%;
      text-align: center;
  }
}

   
  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 2em;
    }
  }
   
  @media screen and (min-width: 850px) {
    .kesenian-list{
      grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    .kesenian-list{
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }

  }
  @media screen and (min-width: 1400px) {
    .popup {
      position: fixed;
      top: 45%;
      left: 50%;
      width: 80%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 1000;
      max-height: 70vh; 
      overflow-y: auto;
      display: none;
      margin-bottom: 30px;
    }
  }
   
  @media screen and (min-width: 1600px) {
    .kesenian-list {
        grid-template-columns: repeat(5, 1fr);
    }
  }